.feedback{
    display: block;
    width: 400px;   
}
.title{
font-size: 30px;
font-weight: 500;
}
.feedbackOptions{    
    width: 100px;
    background-color: rgb(9, 155, 9);
    margin: 5px;
    cursor: pointer;
}
.feedbackOptions:hover{
    background-color: rgb(189, 15, 15);
}
.counter{
    display: block;
    font-size: 20px;    
}